<%= gmaps("markers" => {:data => @json, :options => { :do_clustering => true }},
     "map_options" => { :zoom => 5, :provider => "GOOGLE", 
     					:provider_key => "AIzaSyB4jlf6sqWlCw7Gzr7CvVipID-fE6A36_k", :auto_adjust => true,
     					:center_on_user => true}) %>					
<!-- <br />     					
<div id = 'population-range' style = 'width: 500px'></div>
<input type = 'text' id = 'filtered-pop' style = 'width: 200px' /> -->
